<nav class="navbar navbar-expand-lg navbar-custom transparent navbar-light fixed-top">
        <a class="navbar-brand font-fancy" href="#">{{brand}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-ellipsis-h"></i>
        </button>
              
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            {{#navigation nav}}
                <a class="nav-link" href="{{url}}">{{title}}</a>
            {{/navigation}}
        </div>
    </nav>
