@import 'custom';
@import '../../node_modules/bootstrap/scss/bootstrap';

/********* utility styles **********/

/******* text *******/

.font-fancy {
    font-family: $font-family-fancy
}

.uppercase,
h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}

.display-1,
.display-2,
.display-3,
.display-4 {
    text-transform: capitalize;
}

/******* box model *******/
.padding-0 {
    padding: 0;
}

.margin-0 {
    margin: 0;
}

/******* colors *******/
$burgundy: #89123b;
$navy: #053a5d;
$champagne: #f2e5d3;
$blush: #de9ea9;

/********** main styles **********/
body {
    margin: 0;
    font-size: 16px;
}


.navbar-custom {
    background-color: $white;
    border-bottom: 6px solid $blush;

    .navbar-toggler {
        border: none;

        > .fas {
            transition: all .2s ease-in-out;
        }
    }

    .navbar-toggler.collapsed {
        > .fas {
            transform: rotate(90deg);
        }
    }

    .nav-item {
        text-align: right;
    }

    .nav-link, 
    .navbar-brand,
    .navbar-toggler > .fas {
        color: $black;
    }

    transition: all 0.5s ease-in-out;
}

.navbar-custom.transparent {
    background-color: transparent;
    border-color: transparent;

    .nav-link, 
    .navbar-brand, 
    .navbar-toggler > .fas {
        color: $white;
    }

    .active > .nav-link {
        color: $gray-800;
    }
}

.jumbotron.landing,
.jumbotron.page {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.jumbotron.landing {
    background-image: url(../img/home-main.jpg);

    .overlay {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.jumbotron.details {
    background-image: url(../img/details-main.jpg);
}

.jumbotron.people {
    background-image: url(../img/people-main.jpg);
    background-position: center 35%;
}

.jumbotron.guide {
    background-image: url(../img/guide-main.jpg);
    background-position: 65% 20%;
}

.jumbotron.registry {
    background-image: url(../img/registry-main.jpg);
    background-position: center 70%;
}

.jumbotron.page {
    background-color: #000;
}

.jumbotron .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);

    p {
        margin: 0;
    }

    .content {
        color: $white;
        text-align: center;
        padding-bottom: 13em;
    }

    .details {
        margin: 10px;
    }

}

section header {
    margin-bottom: 20px;
}

.map {
    margin: 20px 0;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:65%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.party {
    text-align: center;
    margin: 20px 0;

    .party-img {
        width: 200px;
        height: 200px;
        margin: 10px auto;
        border-radius: 100px;
        background-size: 100%;
        background-position: center;
        border-style: solid;
        border-width: 4px;
    }

    .sam {
        background-image: url(../img/people/sam.jpg);
    }

    .chris {
        background-image: url(../img/people/chris.jpg);
        background-size: 200%;
        background-position: right 73%;
    }

    .abad {
        background-image: url(../img/people/abad.jpg);
        background-size: 400%;
        background-position: 22% 50%;
    }

    .tasha {
        background-image: url(../img/people/tasha.jpg);
        background-size: 158%;
        background-position: 50% 10%;
    }

    .samie {
        background-image: url(../img/people/samie.jpg);
        background-size: 150%;
        background-position: 50% 15%;
    }

    .jeremy {
        background-image: url(../img/people/jeremy.jpg);
    }

    .derek {
        background-image: url(../img/people/derek.jpg);
    }

    .britany {
        background-image: url(../img/people/britany.jpg);
        background-position: center top;
    }

    .gina {
        background-image: url(../img/people/gina.jpg);
        background-size: 465%;
        background-position: 54% 38%;
    }

    .jed {
        background-image: url(../img/people/jed.jpg);
        background-size: 420%;
        background-position: 52% 32%;
    }

    .christina {
        background-image: url(../img/people/christina.jpg);
    }

    .ryan {
        background-image: url(../img/people/ryan.jpg);
        background-size: 120%;
        background-position: 0 0;
    }

    .missy {
        background-image: url(../img/people/missy.jpg);
        background-size: 180%;
        background-position: 100% 50%;
        transform: rotate(-90deg);
    }

    .ben {
        background-image: url(../img/people/ben.jpg);
        background-size: 200%;
        background-position: center top;
    }

    .rachel {
        background-image: url(../img/people/rachel.jpg);
        transform: rotate(90deg);
        background-size: 230%;
        background-position: 27% 55%;
    }

    .katy {
        background-image: url(../img/people/katy.jpg);
        transform: rotate(90deg);
        background-size: 250%;
    }

    .jason {
        background-image: url(../img/people/jason.jpg);
        background-size: 300%;
        background-position: 45% 30%;
    }

    .trevor {
        background-image: url(../img/people/trevor.jpg);
        background-size: 220%;
        background-position: 0% 30%;
    }

    .dale {
        background-image: url(../img/people/dale.jpg);
        background-size: 300%;
        background-position: 90% 20%;
    }

    .julie {
        background-image: url(../img/people/julie.jpg);
        background-position: center top;
    }
}

.party-col:nth-child(odd) .party-img {
    border-color: $navy;
}

.party-col:nth-child(even) .party-img {
    border-color: $burgundy;
}


//576 - 767px
@include media-breakpoint-up(sm) {

.jumbotron.page {
    height: 75vh;
}

.jumbotron .overlay .content {
    padding-bottom: 5em;
}

}

//768 - 991px
@include media-breakpoint-up(md) {

}

//992 - 1199px
@include media-breakpoint-up(lg) {

.landing > .overlay {        
    .names {
        font-size: 5.5rem;
    }
        
    .details {
        font-size: 1.3rem;
    }
}

}

//1200px+
@include media-breakpoint-up(xl) {



}