@import 'custom';
@import '../../node_modules/bootstrap/scss/bootstrap';

/********* utility styles **********/
/******* text *******/

.font-fancy {
    font-family: $font-family-fancy
}

.uppercase,
h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}

.display-1,
.display-2,
.display-3,
.display-4 {
    text-transform: capitalize;
}

/******* box model *******/
.padding-0 {
    padding: 0;
}

.margin-0 {
    margin: 0;
}

/********** main styles **********/
body {
    margin: 0;
    font-size: 16px;
}

.navbar-custom {
    background-color: $white;

    .navbar-toggler {
        border: none;

        > .fas {
            transition: all .2s ease-in-out;
        }
    }

    .navbar-toggler.collapsed {
        > .fas {
            transform: rotate(90deg);
        }
    }

    .nav-item {
        text-align: right;
    }

    .nav-link, 
    .navbar-brand,
    .navbar-toggler > .fas {
        color: $black;
    }

    transition: all 0.5s ease-in-out;
}

.navbar-custom.transparent {
    background-color: transparent;

    .nav-link, 
    .navbar-brand, 
    .navbar-toggler > .fas {
        color: $white;
    }

    .active > .nav-link {
        color: $gray-800;
    }
}

.jumbotron.landing,
.jumbotron.page {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.jumbotron.landing {
    background-image: url(../img/home-main-new.jpg);
}

.jumbotron.details {
    background-image: url(../img/details-main-new.jpg);
    background-position: 65% 20%;
}

.jumbotron.people {
    background-image: url(../img/people-main.jpg);
    background-position: center 35%;
}

.jumbotron.guide {
    background-image: url(../img/guide-main.jpg);
    background-position: center 70%;
}

.jumbotron.page {
    background-color: #000;
}

.jumbotron .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);

    p {
        margin: 0;
    }

    .content {
        color: $white;
        text-align: center;
        padding-bottom: 13em;
    }

    .details {
        margin: 10px;
    }

}

section header {
    margin-bottom: 20px;
}

.map {
    margin: 20px 0;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:65%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}


//576 - 767px
@include media-breakpoint-up(sm) {

.jumbotron.landing {
    background-image: url(../img/home-main-new.jpg);
}

.jumbotron.page {
    height: 75vh;
}

.jumbotron .overlay .content {
    padding-bottom: 5em;
}

}

//768 - 991px
@include media-breakpoint-up(md) {

}

//992 - 1199px
@include media-breakpoint-up(lg) {

.landing > .overlay {        
    .names {
        font-size: 5.5rem;
    }
        
    .details {
        font-size: 1.3rem;
    }
}

}

//1200px+
@include media-breakpoint-up(xl) {



}